{% extends 'base.html' %}

{% block content %}
    <h1>New Translation</h1>
    <button id="start-record-btn" onclick="startRecording()">Start Recording</button>
    <button id="stop-record-btn" onclick="stopRecording()" disabled>Stop Recording</button>

    <p id="transcription">Transcription will appear here...</p>
    <textarea id="text-editor" style="display:none;"></textarea>

    <button id="save-text-btn" onclick="saveText()" style="display:none;">Save to Database</button>

    
{% endblock %}
