{% extends 'base.html' %} 

{% block content %}

<div class="container">
    <div class="subtitle">Current Available Transcriptions</div>
  </div>
  
<section class="translation-listing">
    {% if docs %}
      {% for doc in docs %}
        <div class="translation-item">
            <p>Transcription: {{ doc.text }}</p>
            <p>Added on: {{ doc.created_date }}</p>

            <form action="/delete_translation/{{ doc._id }}" method="POST">
            <button type="submit">Delete</button>
          </form>
        </div>
            
      {% endfor %}
    {% else %}
      <p>No transcriptions found.</p>
    {% endif %}
  </section>

{% endblock %}
